################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ItemsDatEncoder/bin/Debug
/ItemsDatEncoder/obj/Debug
/.vs/ItemsDatEncoder/v17
